*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 100%;
    font-family: 'Fredoka', sans-serif;
}
.navbar{
    background-color: rgba(49, 97, 224);
    width: 100%;
}
.containerfirst{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 70px;
    margin: auto;
    max-width: 1170px;
}
.intro{
    color: white;
    padding: 13px;
}
.button1{
    padding: 10px 15px;
    border-radius: 50px;
    border: 0;
}
.containersecond{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}
.containersecond > div {
    width: 750px;
    height: 350px;
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
    padding: 20px;
}
#p1 {
    padding: 20px;
    font-size: 18px;
    color: white;
    line-height: 27px;
}
.button2{
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(35, 39, 42);
    color: white;
    margin-left: 10px;
}
main{
    max-width: 1170px;
     margin: auto;
 }
.griglia1{
    height: 600px;
    margin-top: 160px;
}
.griglia{
    height: 400px;
    border: dashed 1px rgba(0, 0, 0, 0.562);
}
.container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
}
.col{
    width: 60%;
    display: flex;
    align-items: center;
}
.col2{
    width: 40%;
    padding: 40px 78px;
}
h2{
    font-size: 40px;
    margin-bottom: 15px;
}
#p2{
    font-size: 17px;
    line-height: 25px;
}
.griglia2{
    border: dashed 1px rgba(0, 0, 0, 0.418);
    height: 900px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.orange{
    background-color: rgba(255, 68, 0, 0.534);
    height: 760px;
    width: 70%;
}
.pink{
    background-color: pink;
    height: 600px;
}
.rectangle{
    background-color: rgba(230, 116, 135, 0.678);
    height: 500px;
    width: 900px;
}
.row2{
    display: flex;
    background-color: rgba(165, 42, 42, 0.377);
    width: 100%;
    height: 350px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.col3{
    height: 310px;
    width: 30%;
    background-color: rgba(146, 144, 144, 0.849);
    border: dashed 1px rgba(0, 0, 0, 0.418);
}
.col4{
    width: calc(70% / 4);
    background-color: antiquewhite;
    height: 310px;
    margin-left: 10px;
    border: dashed 1px rgba(0, 0, 0, 0.418);
}
.ruler{
    background-color: rgba(165, 42, 42, 0.377);
    height: 80px;
    width: 900px;
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.blocksgreen{
    background-color: rgba(36, 199, 36, 0.582);
    height: 40px;
    width: 150px;
    border: dashed 1px rgba(0, 0, 0, 0.418);
}